/*declaration block */
/* h1{ /*h1 is the selector*/
    /*color:blue; this line is the declaration
}
p{
    color:green;
}
#test-elem{
    color:blueviolet;
}
.success{
    color:brown;
}
p.para{
    color:yellow;
} */
/*child selector-direct children*/

/* div p{
        color:blueviolet;
    }

div>p{
    color:blue;
} */

#test-div{
    color:darkblue;
}

.para{
    color:green;
}