
.container{
    background-color:rgb(219, 217, 217);
    width:950;
    height: 570px;
    padding: 150px 80px 0px 80px;
    border-radius: 16px;
}

.container>div{
    width:calc(33% - 38px);
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin:20px;
    border-radius: 10px;
    height: 500px;
    transform: 0.3s ease;
    color: white;
    border-radius: 16px;
    background: linear-gradient(135deg, #aabcf2, #cfaaf7);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
  
}


.container>div:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
    
}

.container>div>div{
    padding: 70px 30px 10px 30px;
}

.price{
    display:inline-block;
}

.txt {
  position: relative;
  overflow: hidden;
  color: white;
  font-size: 40px;
}

#div1{
    font-size: 100px;
    position:relative;
    bottom: 100px;
}

#div2{
    font-size: 60px;
    position: relative;
    right: 70px;
    bottom: 30px;
}

#div3{
    font-size: 40px;
    position:relative;
    bottom: 90px;
}

#div4{
    font-size: 60px;
    position: relative;
    right: 40px;
    bottom: 30px;
}
.btn{
    text-align: center;
    font-size: 20px;
    margin:auto;
    padding:12px;
    text-transform: uppercase;
    display:inline-block;
    width: 130px;
    height: 30px;
    position: relative;
    bottom: 60px;
    background-color: #518de8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover{
     background-color: #6e91ff;
     animation: pulse 2s infinite;
     box-shadow: 0 0 12px rgba(142, 166, 240,2);
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

