.d-flex{
    display:flex;
    border: 2px solid red;
}

.parent{
    justify-content: center;
    flex-direction: row;
    height: 500px;
}

.space-between{
    justify-content: space-between;
    flex-direction: column;
    height: 500px;
}

.space-evenly{
    justify-content: space-evenly;
    flex-direction: column;
    height: 500px;
}
.space-around{
    justify-content: space-around;
    flex-direction: column;
    height: 500px;
}

.align-items{
    justify-content: center;
    border: 2px solid green;
    height: 500px;
    align-items: center;
}